.avatar {
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  border: var(--border-primary);
}

.avatar-medium {
  width: 36px;
  height: 36px;
}

.avatar-large {
  width: 48px;
  height: 48px;
}

.avatar-huge {
  width: 84px;
  height: 84px;
}