.layout {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
}

.nav-menu {
  width: 76px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.nav-center-bundle {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  width: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 28px;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.nav-new-post-button {
  background-color: rgba(255, 255, 255, 0.08);
  width: 60px;
  height: 48px;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.new-post-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 66px;
  background-color: rgb(24, 24, 24);
  color: rgb(243, 245, 247);
  font-size: 36px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-button svg {
  fill: var(--color-text-primary);
}

.new-post-button:hover {
  width: 90px;
  height: 74px;
  right: 15px;
  bottom: 16px;
}

.new-post-button:hover svg {
  width: 2.2rem;
}

.logout-button {
  background-color: inherit;
  color: rgb(77, 77, 77);
  border: none;
  margin-bottom: 22px;
  width: 48px;
  height: 53px;
}

.logout-button:hover {
  color: rgb(243, 245, 247);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: .8rem;
}

.center-area {
  position: relative;
  width: 640px;
  min-height: 100vh;
}

.content {
  background-color: var(--color-content-background);
  border: var(--border-primary);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 24px 0px;
  padding-top: 0.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.top-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 0rem;
  background-color: var(--color-background);
}

.header-left {
  justify-self: start;
}

.header-center {
  position: relative;
  justify-self: center;
}

.header-right {
  justify-self: end;
}

.page-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-primary);
  margin: 0;
  padding: 0.25rem;
}

.feed-selector button {
  background: none;
  background-color: var(--color-content-background);
  border: var(--border-primary); 
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.28rem 0.56rem;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  border-radius: 100%;
  padding-bottom: 0.3rem;
}

.nav-icon {
  fill: rgb(77, 77, 77);
  width: 2rem;
}

.nav-new-post-button:hover svg {
  fill: var(--color-text-primary);
}

.active svg {
  fill: var(--color-text-primary);
}

.logo svg {
  fill: var(--color-text-primary);
}