.nav-menu {
  width: 76px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-right: 2px solid red;
}

.nav-center-bundle {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 36px;
  border: none;
  text-decoration: none;
}

.nav-new-post-button {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgb(77, 77, 77);
}

.nav-new-post-button:hover {
  color: rgb(243, 245, 247); 
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

main {
  margin-left: 76px;
}

.new-post-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 66px;
  background-color: rgb(24, 24, 24);
  color: rgb(243, 245, 247);
  font-size: 36px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  cursor: pointer;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 8px 0px;
}

.logout-button {
  background-color: inherit;
  color: rgb(77, 77, 77);
  border: none;
  margin-bottom: 22px;
  width: 48px;
  height: 53px;
}

.logout-button:hover {
  color: rgb(243, 245, 247);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}