.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal {
  position: fixed;
  background-color: var(--color-content-background);
  border: var(--border-primary);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 24px 0px;
  border-radius: 1rem;
}

.modal.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 618px;
  z-index: 1001;
}

.modal.floating {
  right: 20px;
  bottom: 20px; 
  width: 494px;
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: var(--border-primary);
  height: 3.5rem;
}

.cancel-button {
  background: none;
  border: none;
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: 1rem;
  padding: 0px;
  justify-self: start;
  padding-left: 1.5rem;
}

.modal-header-spacer {
  padding-right: 1.5rem;
}

.modal-header h3 {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 1rem;
  text-align: center;
}

.modal textarea {
  width: 100%;
  background-color: var(--color-content-background);
  border: none;
  padding: 0.75rem;
  color: var(--color-text-primary);
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  margin-bottom: 1rem;
}

.modal textarea:focus {
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.char-count {
  color: rgb(119, 119, 119);
  font-size: 0.95rem;
}

button.primary {
  color: var(--color-text-primary);
  background-color: var(--color-content-background);
  padding: 0.6rem 0.8rem;
  border-radius: 0.625rem;
  border: var(--border-primary);
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 600;
}

button.primary:disabled {
  border: 1px solid rgba(119, 119, 119, 0.2);
  color: rgba(243, 245, 247, 0.2);
  cursor: not-allowed;
}