.new-post-trigger {
  padding: 1rem 1.5rem;
  padding-top: 1.4rem;
  border-bottom: var(--border-primary);
}

.trigger-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trigger-content span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.95rem;
}

.trigger-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.trigger-post-button {
  color: var(--color-text-primary);
  background-color: var(--color-content-background);
  padding: 0.55rem 1rem;
  border-radius: 0.625rem;
  border: var(--border-primary);
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 600;
}