.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: var(--color-content-background);
  padding: 2rem;
  border-radius: 0.5rem;
  border: var(--border-primary);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.github-button {
  border: var(--border-primary);
  padding: 0.6rem 1.8rem;
  background-color: var(--color-content-background);
  color: var(--color-text-primary);
  font-size: 1.1rem;
  margin-top: 1.2rem;
}

.github-button:hover {
  background-color: #272727;
}