.loading, .error {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-muted);
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-header {
  padding: 1rem 1.5rem;
  padding-top: 0.5rem;
  border-bottom: var(--border-primary);
  display: flex;
  flex-direction: column;
}

.profile-names {
  padding-top: 1rem;
}

.profile-display-name, .profile-username {
  margin: 0;
}

.profile-username {
  margin-top: 2px;
}

.profile-top {
  display: flex;
  justify-content: space-between;
}

.edit-profile-button, .profile-follow-button {
  width: 100%;
  padding: 0.4rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.edit-profile-button {
  background-color: var(--color-content-background);
  border: var(--border-primary);
  color: var(--color-text-primary);
}

.profile-follow-button {
  background-color: var(--color-text-primary);
  border: none;
  color: var(--color-content-background);
}

.profile-follow-button .profile-following {
  background-color: var(--color-content-background);
  color: var(--color-text-primary);
  border: var(--border-primary);
}

.edit-profile-modal {
  background-color: rgb(16, 16, 16);
  border-radius: 1rem;
  padding: 0;
  width: 90%;
  max-width: 618px;
  border: var(--border-primary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.form-groups {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-group label {
  display: block;
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 0.9375rem;
  padding-left: 0.5rem;
}

.form-group input, .form-group textarea {
  width: 100%;
  background-color: rgb(16, 16, 16);
  border: var(--border-primary);
  border-radius: 0.5rem;
  color: var(--color-text-primary);
  padding: 0.75rem;
  font-size: 0.9375rem;
  font-family: inherit;
}

.form-group textarea {
  resize: none;
}

.char-count {
  display: block;
  text-align: right;
}

.edit-profile-modal::backdrop {
  display: none;
}

.modal-actions {
  border-top: var(--border-primary);
  padding: 1rem;
}

.modal-done {
  width: 100%;
  margin-top: 0.75rem;
  padding: 1rem;
  border: none;
  background-color: white;
  color: black;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  cursor: pointer;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
}