.loading, .error {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-muted);
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-header {
  padding: 1rem 1.5rem;
  padding-top: 0.5rem;
  border-bottom: var(--border-primary);
  display: flex;
  flex-direction: column;
}

.profile-names {
  padding-top: 1rem;
}

.profile-display-name, .profile-username {
  margin: 0;
}

.profile-username {
  margin-top: 2px;
}

.profile-top {
  display: flex;
  justify-content: space-between;
}

.edit-profile-button, .follow-button {
  width: 100%;
  padding: 0.4rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.edit-profile-button {
  background-color: var(--color-content-background);
  border: var(--border-primary);
  color: var(--color-text-primary);
}

.follow-button {
  background-color: var(--color-text-primary);
  border: none;
  color: var(--color-content-background);
}

.follow-button .following {
  background-color: var(--color-content-background);
  color: var(--color-text-primary);
  border: var(--border-primary);
}

.edit-profile-modal {
  background-color: var(--color-content-background);
  border-radius: 1rem;
  padding: 0;
  width: 90%;
  max-width: 618px;
  border: var(--border-primary);
}

.edit-profile-modal::backdrop {
  display: none;
}

.edit-profile-modal form {
  padding: 1.5rem;
}