.loading, .error {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-primary);
}

.error {
  color: orange;
}

.users-container {
  display: flex;
  flex-direction: column;
}

.empty-users {
  text-align: center;
  padding: 3rem 1rem;
  color: var(--color-text-primary);
}