:root {
  --color-background: rgb(10, 10, 10);
  --color-content-background: #181818;
  --color-text-primary: rgb(243, 245, 247);
  --color-text-muted: rgba(255, 255, 255, 0.5);
  --border-primary: 1px solid rgba(243, 245, 247, 0.15);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

#root {
  min-height: 100vh;
}
