body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  min-height: 100vh;
  background-color: #101010;
}
